
<app-fuel-toast-message></app-fuel-toast-message>
<div class="app-root-container">
    <div class="header">
        <p-button class="entry-button" (click)="openFuelEntry()" severity="info" [raised]="true" [rounded]="true"
            label="Entry">
            <ng-template pTemplate="icon">
                <span class="material-icons">local_gas_station</span>
            </ng-template>
        </p-button>
    </div>
    <!-- <app-fuel-fuel-list></app-fuel-fuel-list> -->
    <app-fuel-fuel-dashboard></app-fuel-fuel-dashboard>
    <router-outlet />
</div>