<mat-toolbar>
  <div>
      <button mat-icon-button (click)="onToggleSideNav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/">Logo</a>
  </div>
  <div class="toolbar-links">
    @if (isAuth) {
        <a routerLink="/training">{{ 'training' | translate }}</a>
        <a (click)="onLogout()" style="cursor: pointer;">{{ 'logout' | translate }}</a>
    }  @else {
        <a routerLink="/signup">{{ 'signup' | translate }}</a>
        <a routerLink="/login">{{ 'login' | translate }}</a>
    }
  </div>
</mat-toolbar>