<p-table [value]="fuelLog" showGridlines [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="caption">
        <span>Entries</span>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Date</th>
            <th>Odometer(KM)</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th>Fuel Cost (₹/L)</th>
            <th>Traveled</th>
            <th>Cost per KM (₹/KM)</th>
            <th>Mileage (KM/L)</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>{{ entry.date | date: 'dd MMM yyyy'}}</td>
            <td>{{ entry.odometer }} KM</td>
            <td>{{ entry.amount | currency: 'INR':'symbol':'1.0-0'}}</td>
            <td>{{ entry.liter }} L</td>
            <td>{{ entry.costPerLiter | currency: 'INR':'symbol':'1.0-2' }}</td>
            <td>{{ entry.distanceTraveled | number: '1.0-2' }}</td>
            <td>{{ entry.costPerKm | currency: 'INR':'symbol':'1.0-2'}}</td>
            <td>{{ entry.mileage | number: '1.0-2'  }}</td>
            <td>
                <button pButton icon="pi pi-pencil" (click)="editEntry(entry)" class="p-button-rounded p-button-text"></button>
                <button pButton icon="pi pi-trash" (click)="deleteEntry(entry)" class="p-button-rounded p-button-text"></button>
            </td>
        </tr>
    </ng-template>
</p-table>