<div class="fuel-imports-container">
    <div class="header">
        <span class="header-title">Record Entry</span>
    </div>
    <div class="body">
        <div class="previous-data">
            <div class="card card-1">
                <h4>Previous Distance</h4>
                <div class="value">{{ getDistance('last') | number: '1.2-2'}} KM</div>
                <!-- <div class="subtext">Since last week</div> -->
                <!-- <div class="icon-bg">📁</div> -->
            </div>
            <div class="card card-2">
                <h4>Previous Mileage</h4>
                <div class="value">{{ getMileage('last') | number: '1.2-2'}} KM/L</div>
                <!-- <div class="subtext">Since last week</div> -->
                <!-- <div class="icon-bg">📁</div> -->
            </div>
            <div class="card card-3">
                <h4>Overall Milaeage</h4>
                <div class="value">{{ getOverAllMileage('last') | number: '1.2-2' }} KM/L</div>
                <!-- <div class="subtext">Since last week</div> -->
                <!-- <div class="icon-bg">📁</div> -->
            </div>
        </div>
        <div class="current-entry">
            <form [formGroup]="fuelForm" class="content">
                <p-floatlabel variant="on">
                    <p-datepicker formControlName="date" inputId="date" dateFormat="dd-M-yy" [showIcon]="true"
                        iconDisplay="input" />
                    <label for="date">Enter Dates</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-inputnumber formControlName="odometer" inputId="odometer" mode="decimal"
                        [maxFractionDigits]="2" />
                    <label for="odometer">Current Odometer</label>
                </p-floatlabel>

                <p-float-label variant="on">
                    <p-input-number formControlName="cost" inputId="currency" mode="currency" currency="INR"
                        currencyDisplay="code" locale="en-IN" />
                    <label for="currency">Price</label>
                </p-float-label>

                <p-float-label variant="on">
                    <p-input-number formControlName="quantity" inputId="liter" mode="decimal" [maxFractionDigits]="2" />
                    <label for="liter">Quantity</label>
                </p-float-label>

            </form>
            <div class="footer">
                <p-button class="footer-submit" (click)="onSubmit()" [raised]="true" severity="success" label="Submit"
                    [disabled]="fuelForm.invalid" />
                <p-button class="footer-submit" (click)="onClear()" [raised]="true" severity="secondary"
                    label="Clear" />
            </div>
        </div>
        <div class="current-data">
            <div class="card card-1"
                *ngIf="fuelForm && fuelForm.value && fuelForm.value.odometer && lastIndex && fuelForm.value.odometer > fuelEntries[lastIndex].odometer">
                <h4>Travelled Distance</h4>
                <div class="value">{{ getDistance('current') | number: '1.2-2'}} KM</div>
                <div class="trend">
                    <span class="percent">{{ getPercentChange('distance') }}% </span>
                    <span class="arrow" [ngClass]="getTrendDirection('distance')">
                        {{ getTrendDirection('distance') == 'increase' ? '🡅' : getTrendDirection('distance') ==
                        'decrease' ? '🡇' : 'Same as last'}}
                    </span>
                </div>
            </div>
            <div class="card card-2"
                *ngIf="fuelForm && fuelForm.value && fuelForm.value.cost && fuelForm.value.quantity">
                <h4>Trip Mileage</h4>
                <div class="value">{{ getMileage('current') | number: '1.2-2'}} KM/L</div>
            </div>
            <div class="card card-3"
                *ngIf="fuelForm && fuelForm.value && fuelForm.value.cost && fuelForm.value.quantity">
                <h4>Overall Milaeage</h4>
                <div class="value">{{ getOverAllMileage('current') | number: '1.2-2'}}</div>
                <div class="trend">
                    <span class="percent">{{ getPercentChange('overAllMileage') }}% </span>
                    <span class="arrow" [ngClass]="getTrendDirection('overAllMileage')">
                        {{ getTrendDirection('overAllMileage') == 'increase' ? '🡅' : getTrendDirection('overAllMileage') == 'decrease' ? '🡇' : 'Same as last'}}
                    </span>
                </div>
            </div>
        </div>

    </div>