<section class="login-forms">
    <form class="login-form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input 
                type="email"
                matInput
                placeholder="{{ 'enterEmail' | translate}}"
                formControlName="email"
                (blur)="updateInvalidEmail()"
            >
            <mat-error>{{ invalidEmailMsg() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                type="password"
                matInput
                placeholder="{{'enterPwd' | translate}}"
                formControlName="password"
                autocomplete="new-password"
            >
            <mat-error>{{ 'invalidPwd' | translate }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="loginForm.invalid" class="submit-button" color="secondary">
            {{ 'login' | translate }}
        </button>
    </form>
</section>