<section class="signup-forms">
    <form class="form-container" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field appearance="fill">
            <input 
                type="email" 
                matInput 
                placeholder="{{ 'yourEmail' | translate }}" 
                ngModel 
                name="email"
                email
                required
                autocomplete="off"
                #emailInput="ngModel"
            >
            @if (emailInput.hasError('required')) {
                <mat-error>{{ 'InvalidEmail' | translate }}</mat-error>
            } @else if (emailInput.value == '') { 
                <mat-error>{{ 'EmptyField' | translate }}</mat-error>
            } @else { 
                <mat-error>{{ 'EnterValidMail' | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field hintLabel="{{ 'SixCharacters' | translate }}" align="start">
            <input 
                type="password" 
                matInput 
                placeholder="{{'yourPwd' | translate}}" 
                ngModel 
                name="password"
                required
                minlength="6"
                autocomplete="new-password"
                #pwInput="ngModel"
            >
            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field class="date-picker">
            <input 
                matInput 
                placeholder="{{ 'yourBirthDay' | translate}}" 
                autocomplete="off" 
                [matDatepicker]="picker"
                [max]="maxDate"
                ngModel
                name="birthdate"
                required>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required color="secondary">
            {{ 'AgreeToTC' | translate }}
        </mat-checkbox>
        <button mat-flat-button type="submit" class="submit-button" [disabled]="form.invalid">{{ 'submit' | translate}}</button>
    </form>
</section>