:host {
    .signup-forms {
        width: 300px;
        margin: 1rem auto;
        .form-container {
            display: flex;
            flex-direction: column;
            
            ::ng-deep {
                .date-picker .mat-mdc-form-field-infix {
                    display: flex;
                }
            }
              
            .submit-button {
                align-self: center;
            }
        }
    }
}
